.content {
    padding: 16px;
}

.content > mat-card {
    width: 300px;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-form {
    min-width: 100px;
    max-width: 300px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}

mat-card img{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 80%;
}